# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_password
SMTP_FROM_NAME=Ariq AI

# Business Email
BUSINESS_EMAIL=your_email@gmail.com

# Database
DATABASE_URL=DATABASE_URL=postgresql://username:password@ep-xxxxx.ap-southeast-1.aws.neon.tech/ariq_ai_db?sslmode=require

# Frontend
FRONTEND_ORIGINS=http://localhost:5173